<h1>Animal seleccionado</h1>

<div class="container mt-5">
    <div
      *ngIf="animal"
      class="row animate__animated animate__bounce animate__fadeIn"
    >
      <div class="card" fxLayout="row" fxLayoutAlign="center center">
        <div  fxLayout ="row wrap" fxLayoutAlign ="start center" fxLayoutGap ="32px">
          <mat-card  class =" mat-elevation-z4 " >
          <mat-card-header>
          <mat-card-title>{{ animal.title }}</mat-card-title>
          </mat-card-header>
          <img mat-card-lg-image
          style="width: 80%; height: 80%"
          class="rounded"
          src="https://zaragoza.es{{ animal.foto }}"
          alt=""
        />
      
        </mat-card>
        <div class="col-md-3">
          <a [routerLink]="['/']" class="btn btn-danger">Back</a>
        </div>
      </div>
      <mat-accordion> 
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <button mat-button color="primary">Show all details</button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Details">
              <p><strong>Nombre: </strong>{{ animal.title }}</p>
              <p><strong>Identifier: </strong>{{ animal.id }}</p>
              <p><strong>Especie: </strong>{{ animal.especie}}</p>
              <p><strong>Raza: </strong>{{ animal.raza}}</p>
              <p><strong>Sexo: </strong>{{ animal.sexo }}</p>
             </mat-tab>
             <mat-tab label="veterinario">
              <p><strong>Peligroso: </strong>{{ animal.peligroso }}</p>
              <p><strong>Microchip: </strong>{{ animal.microchip }}</p>
              <p><strong>Cartilla: </strong>{{ animal.cartilla}}</p>
              <p><strong>Rabia: </strong>{{ animal.rabia}}</p>
              <p><strong>FechaRabia: </strong>{{ animal.fechaRabia }}</p>
              <p><strong>Esterilizado: </strong>{{ animal.esterilizado }}</p>
             </mat-tab>

    </mat-tab-group>
    </mat-expansion-panel>
    </mat-accordion>
    </div>

</div>